.navBackground{
    background-color: darkorange;
}
body{
    margin: 0;
    padding: 0;
}
.dark-mode{
    background-color: black;
    color: white;
}
ul{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 0;
    font-size: 2vw;
    align-items: center;
    text-align: center;
    
}
a{
    color: rgb(212, 212, 212);
    text-decoration: none;
}
p{
    color: #000;
}
.black{
    color: #000;
}
.grey{
    background-color: rgb(243, 243, 243);
}
.name{
    text-align: center;
    margin-bottom: 0;
    font-style: oblique;
}
.Sign-In-Box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-style: solid;
    border-color: rgb(94, 94, 94);
    border-radius: 10px;
}
.Other-Box{
    display: flex;
    flex-flow: column nowrap;
    width: 85%;
    margin: auto;
    border-radius: 5%;
}
.Last-box{
    border-style: solid;
    border-color: rgb(94, 94, 94);
    border-radius: 10px;
    background-color: white;
    width: 20%;
    margin: auto;
    text-align: center;
}
.Button-txt{
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
.sign-background{
    background-color: darkorange;
    border-bottom-style: solid;
    border-color: rgb(94, 94, 94);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.continue-bttn{
    border-style: solid;
    border-color: rgb(94, 94, 94);
    background-color: darkorange;
    width: 20%;
    margin: auto;
    text-align: center;
    border-radius: 10%;
}
h3{
    width: 95%;
    text-align: center;
}
h4{
    margin-top: 10%;
    margin-bottom: 10%;
    
}
h5{
    margin: auto;
    padding: 3%;
}
#Sorry-box{
    border-color: rgb(94, 94, 94);
    border-style: solid;
    margin: auto;
    width: 50%;
    border-radius: 15px;
    background-color: white;
}
.Go-Back{
    margin: auto;
    text-align: center;
}
.Back-Button{
    background-color: rgb(184, 184, 184);
    border-color: rgb(184, 184, 184);
    border-radius: 5px;
}
#bubble{
    border-color: #000;
    border-style: solid;
    margin: auto;
    border-radius: 200px;
    width: 275px;
    background-color: rgb(255, 128, 0);
}
#exclamation{
    border-style: solid;
    border-color: #000;
    background-color: white;
    width: 50px;
    height: 150px;
    margin: auto;
    border-radius: 25px;
}
#point{
    border-style: solid;
    border-color: #000;
    background-color: white;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
}
.logo{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-left: -40%;
    margin-top: -50%;
    
    
}
.NameText{
    text-align: center;
    font-style: italic;
}
.search{
    padding-bottom: 5%;
}
.logobrdr{
    overflow: hidden;
    width: 100px;
    height: 100px;
}
.logo2{
    display: flex;
    width: 10%; 
    object-fit: contain;
    margin: auto;
    padding-left: 1.5%;
    object-fit: cover;
    object-position: 50% 50%;
}
.nav-bttn-div{
    display: flex;
}
.navbrdr{
    background-color: rgb(68, 68, 68);
    border-color: #000;
    border-style: solid;
    border-radius: 10px;
    color: #000;
    margin-left: 2%;
    width: auto;
    color: rgb(216, 216, 216);
    transition-duration: 0.4s;
    cursor: pointer;
}
.navbrdr:hover{
    background-color: rgb(49, 49, 49);
}
.navbrdr:active{
    background-color: rgb(34, 34, 34);
}
.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#sorry{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}


.Home-body{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;

}
td{
    background-color: white;
    border-color: rgb(184, 184, 184);
    border-style: solid;
    font-size: 120%;
    text-align: center;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.Grid-Sticker{
    width: 90%;
}
td:active{
    background-color: rgb(216, 216, 216);
}
table{
    width: 80%;
    border-spacing: 10px;
}
td{
    border-radius: 10px;
}
.StickerText{
    color: black;
    display: inline-block;
}
.StickerBrdr{
    border-color: white;
    border-bottom: rgb(184, 184, 184);
    border-style: solid;
}

.Sticker-Name{
    text-align: center;
    margin: auto;
}
.Sticker-Purchase{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Sticker-Border{
    border-color: rgb(68, 68, 68);
    border-style: solid;
    border-radius: 10px;
    background-color: white;
    margin: auto;
}
.Price{
    text-align: center;
}
.Buy-Button{
    border-color: rgb(68, 68, 68);
    border-style: solid;
    border-radius: 5px;
    margin: auto;
    background-color: rgb(255, 208, 0);
    color: black;
    width: 10vw;
    text-align: center;
    margin-bottom: 200%;
}

.Buy-Button:hover{
    background-color: rgb(236, 193, 2);
}
.Buy-Button:active{
    background-color: rgb(213, 174, 1);
}
.Sticker-Picture{
    width: 95%;
    margin: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
}
.Something-Else{
    margin: auto;
    width: 100%;
    text-align: center;
}
.Recommended{
    margin: auto;
    width: 85%;
    text-align: left;
    color: #737373;
}
div.scrollmenu {
    background-color: #ffffff;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    margin: auto;
    padding: 14px;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }
  .Scroll-Img{
    margin: auto;
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
  }
  .flex{
    width: 20%;
  }
.No-Stickers{
    margin: auto;
    color: #737373;
    text-align: center;
}
.Buy-Stickers{
    margin: auto;
    text-align: center;
    text-decoration: underline;
    color: blue;
}
.Account-flex{
    display: flex;
    margin: auto;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-left: -20%;
}
.Profile-Border{
    color: #777;
    border-style: solid;
    border-radius: 5%;
    width: 25%;
    margin: auto;
    padding: 2%;
    background-color: white;
}
.Profile-Picture{
    width: 100%;
    
}
.Button1{
    margin: auto;
    margin-left: -300%;
    width: 500%;
    background-color: white;
    
}
.Button2{
    margin: auto;
    margin-left: -300%;
    width: 500%;
    background-color: white;
}
.Button3{
    margin: auto;
    margin-left: -300%;
    width: 500%;
    background-color: white;
}
.To-Stickers{
    margin: auto;
    text-align: center;
    width: 35%;
    background-color: white;
    border: #777;
    border-style: solid;
    
}
.Button1:hover{
    background-color: rgb(181, 181, 181);
}
.Button2:hover{
    background-color: rgb(181, 181, 181);
}
.Button3:hover{
    background-color: rgb(181, 181, 181);
}
.To-Stickers:hover{
    background-color: rgb(181, 181, 181);
}
.Button1:active{
    background-color: rgb(150, 149, 149);
}
.Button2:active{
    background-color: rgb(150, 149, 149);
}
.Button3:active{
    background-color: rgb(150, 149, 149);
}
.To-Stickers:active{
    background-color: rgb(150, 149, 149);
    color: #000;
}
.dark-mode {
    background-color: #00000077;
    color: #000;
  }
.Manage-Stickers{
    color: #000;
}