.navBackground{
    background-color: darkorange;
}
body{
    margin: 0;
    padding: 0;
}
li{
    
    
}
ul{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 0;
    font-size: 2vw;
    align-items: center;
    text-align: center;
    
}
a{
    color: rgb(212, 212, 212);
    text-decoration: none;
}
.black{
    color: #000;
}
.Sign-In-txt{
    
}
.Sign-In-Box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-style: solid;
    border-color: rgb(94, 94, 94);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
.Other-Box{
    display: flex;
    flex-flow: column nowrap;
    width: 85%;
    margin: auto;
    border-radius: 5%;
}
.sign-background{
    background-color: darkorange;
    border-bottom-style: solid;
    border-color: rgb(94, 94, 94);

}
.continue-bttn{
    border-style: solid;
    border-color: rgb(94, 94, 94);
    width: 20%;
    margin: auto;
    text-align: center;
    border-radius: 10%;
}
h4{
    margin-top: 10%;
    margin-bottom: 10%;
    
}
.logo{
    display: flex;
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    object-position: 50% 50%;
    
}
.logo2{
    display: flex;
    width: 10%; 
    object-fit: contain;
    margin: auto;
}
.searchbardiv{
    margin-right: 10%;
}
.searchbar{
    width: 150%;
}

.navbrdr{
    background-color: rgb(27, 27, 27);
    width: auto;
}

.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
