.navBackground{
    background-color: darkorange;
}
body{
    margin: 0;
    padding: 0;
}
li{
    background-color: rgba(0, 0, 0, 0.9);
    width: 15%;
}
ul{
    display: flex;
    list-style: none;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-left: 0;
    font-size: 2vw;
    align-items: center;
    text-align: center;
}
.nav{
    
}
.logo{
    
    display: flex;
    flex-flow: row nowrap;
    background-size: cover;
    background-position: 35% 110%;
    background-image: url(Pictures/TucanLogo.gif) ;
    
     
}

#logoboarder{
    
    background-color: white;
    padding-left: 10;
    border-radius: 50%;
    width: 5%;
    height: 5%;
    overflow:hidden;
}
.header{
    display: flex;
    justify-self: center;
    align-items: center;
}
